{% extends 'menu.html' %}

		{% block title %}
		<title>GRAFO</title>
		{% endblock%}

		{% block content %}
		<br>
		<br>
		<h3>Ingresar:Nombre Pais Dia Mes Año </h3>
        <input id="n1" type="text" value="">
		<input id="n2" type="text" value="">
		<input id="n3" type="text" value="">
		<input id="n4" type="text" value="">
		<input id="n5" type="text" value="">
		<div id="canvas">.</div>
		<br>
		<input id="b1" type="button" value="Grafo WIKI" onclick="javascript:ejemplo()">
		<div id="cuadro">.</div>

		<!--CAMBIOS PARA EL GRAFO -->
		
    	

<!--FIN  DE LOS CAMBIOS  PARA EL GRAFO -->

{% endblock%}
